DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
PORT=3000

TWITCH_USER_ID=your_twitch_user_id
TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
TWITCH_CHANNEL_NAME=your_twitch_stream_channel_name
TWITCH_BOT_ACCESS_TOKEN=your_bot_access_token
TWITCH_BOT_REFRESH_TOKEN=your_bot_refresh_token